<%- include('../header'); %>
<%- include('../menu'); %>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <%- include('../navbar'); %>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">AGENTS</h6>
                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Agent</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">PSTN Number</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created At</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modified At</th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let agent of agents) { %>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div>
                                    <img src="/public/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="<%= agent.name %>">
                                  </div>
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm"><%= agent.name %></h6>
                                    <p class="text-xs text-secondary mb-0"><%= agent.id %></p>
                                  </div>
                                </div>
                              </td>
                              <td> <span class="text-xs font-weight-bold mb-0"><%= agent.pstnNumber %></span> </td>
                              <td class="align-middle text-center text-sm">
                                  <span class="badge badge-sm  active bg-gradient-primary 
                                    <% if (agent.status == 'BUSY') { %> 
                                      bg-gradient-danger
                                    <% } else {%>
                                      bg-gradient-success   
                                    <% } %>
                                  "><%= agent.status %></span>
                              </td>
                              <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold"><%= agent.createdAt %></span>
                              </td>
                              <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold"><%= agent.modifiedAt %></span>
                              </td>
                              <td class="align-middle">
                                <a href="javascript:;" 
                                  class="text-secondary font-weight-bold text-xs" 
                                  data-toggle="tooltip" data-original-title="Edit user"> Edit </a>
                              </td>
                            </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <%- include('../footer'); %>
    </div>
</main>
<%- include('../settings'); %>
<%- include('../plugins'); %>